extends layout

block content
    input(type="text" id="name" placeholder="Enter Name...")
    button(id="theButton") Click Me!
    p#message
    input(type="text" id="userMemo" placeholder="Type a message...")
    button(id="addMemo") Send a Message!
    div#myMessages 
        h2 My Messages:
    div.message.hiding
        h2.author
        p.innerMessage