* {
    font-family: 'Poiret One', cursive;
}
button {
    height: 3em;
    border-radius: 5px;
    background: rgba(44,123,178,1);
    color: #fff;
    border: none;
    margin-left: 10px;
    font-size: 1em;
}
input {
    background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    float: left;
    padding: 5px 10px;
    width: 165px;
    outline: none;
    height: 1.5em;
    font-size: 1.4em;
}
#userMemo {
    width: 500px;
}
.show {
    transition: opacity 800ms;
}
.hiding {
    opacity: 0;
}
.message {
    padding: 10px;
    width: 70%;
    border: 1px solid #777;
    border-radius: 5px;
    margin-top: 15px;
}
.message p {
    font-size: 1.2em;
}